# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.db
.pytest_cache/
.env
venv/
env/
.venv/

# Node / React
node_modules/
dist/
dist-ssr/
*.log
npm-debug.log*
yarn-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
